<li id="vendor-{{vendor.id}}" class="vendor">
  {{#link-to "purchases/new" (query-params vendor=vendor.id)}}
    <div class="header" {{action 'toggleCollapsed'}}>
      <div class="vendor-name">
        <h2>{{vendor.name}}</h2>
        <div class="secondary">Badge {{vendor.badge_id}}</div>
      </div>
    </div>
  {{/link-to}}
</li>
