@function rem($value) {
  @if unit($value) == 'px' {
    // Android enforces a minimum font-size of 8px
    // We multiply the root element's font size by 100
    // It's canceled out here by dividing by a 100
    @return $value * (1rem/1px) / 100;
  }
  @if unit($value) == 'pt' {
    @return $value * (300px/72pt) * (1rem/1px) / 100;
  }
}


$semibold: 600;
$light: 200;

$body-font: Arial,Helvetica Neue,Helvetica,sans-serif;
$header-font: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;

// Frederick's
// $blue-lighter: #2f76b4;
// $blue-medium: #1d6cb0;
// $blue-darker: #08365C;
$border-radius: rem(20px);

// Harry's
// $blue-medium: #4534da;
$blue-medium: #2A4ED2; // Slightly toned down.
$blue-darker: #314182;

$street-sense-blue: #263875;
$street-sense-orange: #EA8741;
$street-sense-dark-grey: rgba(74, 74, 74, 1);
$street-sense-light-grey: rgba(173, 173, 173, 1);

$blue-medium: $street-sense-blue;
$blue-darker: $street-sense-blue;

// All dark.
// $blue-lighter: #314182;
// $blue-medium: #314182;
// $blue-darker: #314182;

$tan-light: #e9e7d8;
$tan-dark: #bab9ad;

$red: #eb4859;

$white: #fff;
$superlight-grey: #e6e6e6;
$light-text: #636466;
$text: #4d4d4f;
$border: $text;
$shadow: rgba(0,0,0,0.5);
$black: #000;

$page-padding: rem(40px);
$header-height: rem(94px);

// @function pt2px($ptval) {
//   @return $ptval * (300/72);
// }
