<section class="intro">
  <div class="title">Welcome</div>
  <p>The Street Sense App helps you pay vendors when you don't have cash.</p>
  <p>It's just two steps to get set up.</p>
  {{#link-to "intro/1-notifications" class="button primary full-width"}}
    Let's Go!
  {{/link-to}}
</section>
