<section class="intro">
  <div class="icon notifications"></div>
  <div class="step">Step 1 of 2</div>
  <div class="title">Notifications</div>
  <p>Street Sense Media App can notify you when a vendor receives payout for your purchases and when new issues are available.</p>
  <div class="button primary full-width" {{action 'useNotifications'}}>
    Yes, Use Notifications
  </div>
  {{#link-to "intro/3-payment" class="button diminished small full-width"}}
    Not Right Now
  {{/link-to}}
  <div class="notice">You can change this later in Settings</div>
</section>
