<section class="intro">
  <div class="icon location"></div>
  <div class="step">Step 2 of 3</div>
  <h1>Location</h1>
  <p>This finds vendor locations closest to where you are. We do not track or store your location.</p>
  <div class="button primary full-width" {{action 'useLocation'}}>
    Yes, Use My Location
  </div>
  {{#link-to "intro/3-payment" class="button diminished small full-width"}}
    Not Right Now
  {{/link-to}}
  <div class="notice">You can change this later in Settings</div>
</section>
