.button {
  width: 100%;
  background: transparent;
  border: rem(4px) solid $blue-medium;
  color: $blue-medium;
  // height: rem(40px);
  padding: rem(18px) 0;
  font-size: rem(10pt);
  // android
  line-height: rem(10pt);
  border-radius: $border-radius;
  text-align: center;
  display: block;
  cursor: pointer;
  text-decoration: none;
  font-weight: $semibold;
  text-transform: uppercase;
  &:focus {
    background: $blue-medium;
    color: $white;
  }

  &.diminished {
    text-transform: none;
  }
  &.primary {
    background: $street-sense-orange;
    color: $white !important;
    text-shadow: 0 rem(2px) $shadow;
    border: 0px;
    // &:hover,  
    &:focus, &:active {
      background: $white;
      color: $blue-medium;
      text-shadow: none;
    }
  }
  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
  &.full-width {
    padding: rem(20px);
  }
  &.small {
    font-size: rem(8pt);
    width: 75%;
    margin: 0 auto;
    border-width: 1px;
    padding: rem(18px - 8px) 0 rem(11px - 5px);
    &.full-width {
      width: 100%;
    }
  }

  &.active {
    color: $white;
    background: $blue-darker;
  }
}
.button.big {
  padding: rem(35px) rem(10px);
  // color : red;
}
