.spinning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: rem(30px);
  width: 100%;
  min-height: 80vh;
}

.spinning-wheel {
  box-sizing: border-box;
  width: rem(100px);
  height: rem(100px);
  border-radius: 100%;
  border: rem(15px) solid rgba($blue-medium, 0.2);
  border-top-color: $blue-medium;
  animation: spin 1s infinite linear;
}

.loading-text {
  margin-top: rem(20px);
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
} 