#loading {
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: white;
  width: 100%;
  height: 100vh;
  background-image: url('images/logo-on-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50vw auto;

  transition: opacity .5s ease-in;

  &.hidden {
    opacity: 0;
  }
}

.loading {
  .megaphone-logo {
    // transition: width 0.5s linear;
    width: 50%;
    text-align: center;
    font-weight: $semibold;
  
    background: url(images/header-logo.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40%;
    margin: 0 5%;
    .text {
      text-indent: -9999px;
    }
    
  }
}