.payment-setup {
  h1 {
    text-align: left;
    padding-left: $page-padding;
    margin-top: rem(60px);
  }
}

.flash-message {
  margin-top: rem(20px);
  color: $red;
  font-size: rem(8pt);
}

.testCardBtn {
  margin-top: rem(20px);
}

.payment-forms {
  padding: 0 $page-padding;
  .manual-form {
    margin-top: rem(40px);
  }
  font-size: rem(8pt);
  .input-row {
    display: flex;
    justify-content: space-between;
  }
  
  .submit {
    margin-top: rem(40px);
  }
}

.field-group {
    margin-top: rem(25px);
    label {
      font-weight: 500;
    }
    input {
      margin-top: rem(10px);
      height: rem(15pt);
      display: block;
      border: rem(4px) #ccc solid;
      border-radius: rem(20px);
      padding: rem(40px) rem(20px);
      font-size: rem(9pt);
      width: 100%;
      box-shadow: 
        inset 0 0 4px  rgba(0,0,0,0.1),
              0 0 4px rgba(0,0,0,0.1); 
    }
    &.short {
      width: 46%;
      display: inline-block;
      /*input { width: 90%; }*/
    }
  }
.footnote {
  margin-top: rem(40px);
  padding: 0 $page-padding;
  // display: flex;
  font-size: rem(7pt);

  &:before {
    content: '';
    display: block;
    float: left;
    width: rem(80px);
    height: rem(80px);
    margin-right: rem(20px);
    margin-top: rem(20px);
    background: url(images/lock-icon.svg) top left no-repeat;
    background-size: contain;

  }
}

input[type="checkbox"] {
  box-shadow: none; 
}

.permissions {
  padding: 0 $page-padding;
  .button-group {
    .button {
      background: transparent;
      color: $blue-medium;
      text-shadow: none;
      width: 50%;
      &:active {
        background: $superlight-grey;
      }
      &.active {
        background: $blue-medium;
        color: white;
        text-shadow: 0 rem(2px) $shadow;
      }
    }
    .button:first-child { 
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .button:last-child { 
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    margin-top: rem(10px);
    display: flex;
    justify-content: space-between;
  }
}
