.settings {
  background-color: rgba(0,0,0,0.06);
  ul {
    margin: $page-padding / 2;
    border-radius: rem(20px);
    background-color: white;
    li {
      display: block;
      padding: 0 $page-padding;
      font-size: rem(10.5pt);
      color: $street-sense-dark-grey;
      a {
        padding: rem(40px - 3px) 0;
        width: 100%;
        display: block;
        text-decoration: none;
        color: $text;
      }
      text-transform: capitalize;
      border-bottom: 1px solid rgba($border, 0.2);
      &:last-child {
        border-bottom: 0px;
      }
      &:active {
        background: $superlight-grey;
      }
      @media screen and (min-width: 750px) {
        border-width: rem(1px);
      }
      &.disabled {
        a {color: $superlight-grey;}
      }
    }
  }
  h1 {
    margin-bottom: rem(24px);
    margin-top: rem(24px);
    font-size: rem(40px);
    background-color: #273975;
    color: white;
    padding: 14px;
    text-transform: none;
  }
}

.factory-reset {
  color: $red;
}

.partners {
  padding: 0 $page-padding / 2;
  .partner {
    border-radius: rem(20px);
    background-color: white;
    padding: $page-padding;
    margin-bottom: rem(30px);
    &.last { margin-bottom: 0; }
    .logo { 
      text-align: center; 
      margin-top: 10px;
    }
    img {
      margin: 0 auto;
      width: 65%;
      height: auto;
      max-height: rem(100px);
      &.big {
        max-height: rem(60px);
      }
      &.small {
        max-height: rem(125px);
      }
    }
    p {
      font-weight: $light;
    }
    a {
      padding: 5px;
      display: block;
      font-weight: $semibold;
      text-decoration: none;
      color: $blue-darker;
      text-align: center;
      &:active {
        color: black;
      }
    }
  }
}
